body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    margin:0px;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {   
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;  
}

.header-link {
    font-size: 18px;
    color:#e5e7ebe0;
}

.header-links {
    display: flex;
    gap:28px;
}

.main-text {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 700;
}

.welcome {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0px;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.right {
    display: flex;
    gap:28px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    width: 140px;
    background-color: #3882F6;
    color: white;
    border: 1px solid #3882F6;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: #3882F6;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 52px 0px;
}

.content {
    display: flex;
    justify-content: center;
    gap:40px;
}

.sub-content {
    max-width: 170px;

}

.sub-text {
    font-size: 18px;
    color:#4e4e4ee0;
}

.sub-img {
   border: 4px solid #3882F6;
   border-radius: 12px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 80px 80px;
    margin-top: 52px;
    background-color: #e5e7eb;
    
}

.quote-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.quote-text {   
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
   
}

.author {
    margin-left: auto;
    font-weight: bold;
    font-size: 24px;
}

.call {
    display: flex;
    justify-content: center;
    margin: 52px 0px;
    
}

.call-content{
    display: flex;
    background-color: #3882F6;
    padding: 50px 100px;
    align-items: center;
    border-radius: 8px;
}

.call-button {
    border: 1px solid #ffffff;
    padding: 0px;
    margin: 0 0 0 250px;
    min-height: 30px;
}

.text {
    color:#f9faf8;
    font-size: 24px;
    font-weight: 500;
}

.text-sign-up {
    color:#f9faf8c9;
    font-size: 18px;
    font-weight: 400;
}

.footer {
  margin-top: auto;
  background-color: #1f2937;
  color: #f9faf8d3;
  padding: 40px;
  text-align: center;
  font-weight: 500;
}
